# Index of external documents. 
# PLEASE KEEP THE ARRAYS BELOW ALPHANUMERICALLY SORTED!
# PLEASE KEEP THE LAST EMPTY ROW
# Format: {document folder and name}={output name}

AnalisiDeiRequisiti=Analisi dei Requisiti v2.0.0
Glossario=Glossario v2.0.0
LetteraDiPresentazione=Lettera di Presentazione
PianoDiQualifica=Piano di Qualifica v2.0.0
PianoDiProgetto=Piano di Progetto v2.0.0
SpecificaTecnica=Specifica Tecnica v1.0.0
# StudioDiFattibilità=Studio di Fattibilità v1.0.0
VerbaleEsterno8_12_2016=Verbale Esterno 8-12-2016 v1.0.0
VerbaleEsterno23_12_2016=Verbale Esterno 23-12-2016 v1.0.0
