# Index of external documents. 
# PLEASE KEEP THE ARRAYS BELOW ALPHANUMERICALLY SORTED!
# PLEASE KEEP THE LAST EMPTY ROW
# Format: {document folder and name}={output name}

AnalisiDeiRequisiti=Analisi dei Requisiti v4.0.0
DefinizioneDiProdotto=Definizione di Prodotto v2.0.0
Glossario=Glossario v3.0.0
LetteraDiPresentazione=Lettera di Presentazione
PianoDiQualifica=Piano di Qualifica v4.0.0
PianoDiProgetto=Piano di Progetto v4.0.0
SpecificaTecnica=Specifica Tecnica v3.0.0
# StudioDiFattibilità=Studio di Fattibilità v1.0.0
UserManualDemo=User Manual Demo v2.0.0
UserManualFramework=User Manual Framework v2.0.0
VerbaleEsterno8_12_2016=Verbale Esterno 2016-12-08 v1.0.0
VerbaleEsterno23_12_2016=Verbale Esterno 2016-12-23 v1.0.0
VerbaleEsterno22_03_2017=Verbale Esterno 2017-03-22 v1.0.0
VerbaleEsterno11_06_2017=Verbale Esterno 2017-06-11 v1.0.0
