# Index of internal documents.
# PLEASE KEEP THE ARRAYS BELOW ALPHANUMERICALLY SORTED!
# PLEASE KEEP THE LAST EMPTY ROW
# Format: {document folder and name}={output name}

NormeDiProgetto=Norme di progetto v2.0.0
VerbaleInterno2_03_2017=Verbale Interno 2-03-2017 v1.0.0
VerbaleInterno9_12_2016=Verbale Interno 9-12-2016 v1.0.0
VerbaleInterno16_12_2016=Verbale Interno 16-12-2016 v1.0.0
VerbaleInterno22_12_2016=Verbale Interno 22-12-2016 v1.0.0
VerbaleInterno23_02_2017=Verbale Interno 23-02-2017 v1.0.0
VerbaleInterno30_01_2017=Verbale Interno 30-01-2017 v1.0.0
VerbaleInterno30_12_2016=Verbale Interno 30-12-2016 v1.0.0

