# Index of internal documents.
# PLEASE KEEP THE ARRAYS BELOW ALPHANUMERICALLY SORTED!
# PLEASE KEEP THE LAST EMPTY ROW
# Format: {document folder and name}={output name}

NormeDiProgetto=Norme di progetto v2.0.0
VerbaleInterno9_12_2016=Verbale Interno 2016-12-09 v1.0.0
VerbaleInterno16_12_2016=Verbale Interno 2016-12-16 v1.0.0
VerbaleInterno22_12_2016=Verbale Interno 2016-12-22 v1.0.0
VerbaleInterno30_12_2016=Verbale Interno 2016-12-30 v1.0.0
VerbaleInterno23_02_2017=Verbale Interno 2017-02-23 v1.0.0
VerbaleInterno30_01_2017=Verbale Interno 2017-01-30 v1.0.0
VerbaleInterno2_03_2017=Verbale Interno 2017-03-02 v1.0.0
VerbaleInterno29_03_2017=Verbale Interno 2017-03-29 v1.0.0
VerbaleInterno10_04_2017=Verbale Interno 2017-04-10 v1.0.0
VerbaleInterno25_04_2017=Verbale Interno 2017-04-25 v1.0.0
